# MySQL設定
# Docker起動時にMySQLコンテナの設定に使用されます
# FlaskアプリがMySQLへ接続するときにも使用されます

# MySQLコンテナのホスト名
DB_HOST=db

# MySQLへ接続するユーザー名
# 任意の名前に変更してください
DB_USER=your_user

# 上記ユーザーのパスワード
# 任意の値に変更してください
DB_PASSWORD=your_password

# 使用するデータベース名
DB_DATABASE=app

# MySQLのrootユーザーのパスワード
# 任意の値に変更してください
# MySQL初回作成時やrootでログインするときに使用します
DB_ROOT_PASSWORD=your_root_password


# Flask設定
# ブラウザからアクセスするポート番号です
# http://localhost:55000
FLASK_PORT=55000

# Flaskのセッション管理などで使用する秘密鍵です
# 開発環境では任意の値、本番環境では安全なランダム値を設定してください
SECRET_KEY=your_secret_key