*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}



body{
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main{
  width: 100%;
  max-width: 640px;
  margin:0 auto;
  padding: var(--spacing) var(--spacing) 40px;
  
}

.challenge_card{
  padding: var(--spacing);
  background-color: var(--card-color);
  border-radius: var(--radius);
}

.challenge_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin:0 auto;
  font-size: var(--font-size);
}

h2{
  font-family: sans-serif;
}

.back-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height:24px;
  background-color: rgba(145, 145, 153, 0.519);
  color: rgb(22, 19, 19);
  text-decoration: none;
  border-radius: var(--radius-btn);
  font-size: small;
}

.set-timebox{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.set-time{
  display: flex;
  border:2px solid rgb(45, 200, 231);
  color: rgb(45, 200, 231);
  border-radius: var(--radius);
  width: 100%;
  max-width: 500px;
  height: 36px;
  font-size: 24px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:8px;
}

.time-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  width: 100%;
  max-width: 500px;
  height: 36px;
  background-color: var(--main-color);
  color: white;
}

button:hover {
  cursor:pointer;
  background-color: var(--main-color-dark);
}

.post_lists{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.post_list{
  /* display: grid;
  grid-template-columns: 3fr 7fr; */
  display:flex;
  flex-wrap: wrap;
  border: 1px solid rgb(185, 195, 247,0.3);
  padding: 10px;
  border-radius: var(--radius);
}

.user-name{
  flex-basis: 150px;
  text-align: center;
}

.user-content{
  flex: 1;
  min-width: 200px;
  text-align: left;
}


.result-box{
  display: flex;
  justify-content: center;
}

.result_report{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  width: 500px;
  height: 36px;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.result_report:hover{
  cursor:pointer;
  background-color: var(--main-color-dark);
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
  cursor:not-allowed;
}

/* .memo{
  text-align: center;
  margin-top: 5px;
} */