* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  width: 400px;
  background-color: var(--card-color);
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: var(--radius);
}

.auth-card input {
  display:block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--border-color);
}

.form-group {
  margin-bottom: var(--spacing);
}

.form-group label {
  display: block;
  margin-bottom: 6px;
}

.main-button {
  width: 100%;
  padding: 12px;
  background-color: var(--main-color);
  color: var(--card-color);
  border: none;
  border-radius: var(--radius-btn);
  cursor: pointer;
  font-size: var(--font-size);
  font-weight: bold;
}

.main-button:hover {
  background-color: var(--main-color-dark);
}

.page-link {
  margin-top: var(--spacing);
  text-align: center;
}

.page-link a {
  text-decoration: none;
  color: var(--link-color);
}

.page-link a:hover {
  text-decoration: underline;
}

