* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-card {
  width: 400px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.auth-card input {
  display:block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
}

.main-button {
  width: 100%;
  padding: 12px;
  background-color: #2b8f67;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.main-button:hover {
  background-color: #247a58;
}

.page-link {
  margin-top: 16px;
  text-align: center;
}

.page-link a {
  text-decoration: none;
  color: #5c7fa6;
}

.page-link a:hover {
  text-decoration: underline;
}

