* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.room-list {
  width: 100%;
  max-width: 800px;
  margin: 148px auto;
  padding: 0 12px;
}

.notice {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  color: rgb(146, 99, 99);
  border-radius: var(--radius);
  margin-bottom: 32px;
}

.room-selection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input[type="radio"] {
  display: none;
}

.room-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: var(--card-color);
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
  padding: 16px;
}

input[type="radio"]:checked + .room-card {
  background-color: rgb(238, 238, 255);
  border: 2px solid rgb(0, 0, 255);
}

.enter-room-container {
  margin-top: 32px;
}

.enter-room-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  color: white;
  font-size: var(--font-size);
  font-weight: bold;
  border: none;
  background-color: var(--main-color);
  border-radius: var(--radius-btn);
}

.enter-room-button:hover {
  background-color: var(--main-color-dark);
}
