{% extends "base.html" %}

{% block title %}マイページ | 三日坊主を極める{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
{% endblock %}

{% block content %}
  <div class="mypage">
    <a class="logout-link" href="{{ url_for('login.login') }}">ログアウト</a>

    <h2 class="page-title">マイページ</h2>

    <div class="mypage-main">
      <div class="card">
        <div class="profile">
          <div class="profile-image">
            <img src="{{ url_for('static', filename='images/default_user.png') }}" alt="プロフィール画像">
          </div>

          <div class="profile-detail">
            <div class="profile-top">
              <p>{{ name }}</p>
              <button>アカウント管理</button>
            </div>

            <div class="profile-bottom">
              <p>累計達成回数：{{ achievement_count }}回</p>
            </div>
          </div>
        </div>
      </div>

      <h3 class="section-title">参加中のチャレンジルーム（上限は1つまで）</h3>
      
      <div class="card">
        <div class="room-detail">
          <h4>{{ joined_room.name }}</h4>
          <p class="participant-count">参加中： {{ joined_room.member_count }}人</p>
        </div>
      </div>
      
      <div class="enter-room-container">
        <a class="enter-room-button" href="{{ url_for('challenge.room', room_id=joined_room.id) }}">【{{ joined_room.name }}】ルームに入室</a>
      </div>
    </div>
  </div>
{% endblock %}
