<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>新規登録</title>

    <!-- 新規登録画面専用のCSSを読み込む　-->
    <link
        rel="stylesheet"
        href="{{ url_for('static' , filename='css/signup_style.css')}}"
    >

</head>
<body>

    <main class="auth-container">
        <section class="auth-card">

            <h1>新規登録</h1>

<form method="POST">
    <div class="form-group">
        <label for="login_id">ID</label>

        <input
        type="text"
        id="login_id"
        name="login_id"
        placeholder="半角英数で入力"
        >

    </div>

    
    <div class="form-group">
        <label for="user_name">名前</label>

        <input
            type="text"
            id="user_name"
            name="user_name"
            placeholder="名前を入力"
        >
    </div>

    <div class="form-group">
        <label for="password">パスワード</label>

        <input
            type="password"
            id="password"
            name="password"
            placeholder="パスワードを入力"
        >
    </div>

    <button type="submit" class="main-button">
        登録する
    </button>


</form>

<p class="page-link">
    <a href="{{ url_for('login.login')}}">
        ログインはこちら
    </a>
</p>

        </section>
    </main>
</body>

</html>